.subscribe {
    background-image: url(../img/subscribe_bg.jpg);
    height: 448px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 16px;

    &__wrap {
        @include flex(space-between, center);
        height: 100%;
    }

    &__left {
        @include flex;
        flex-wrap: wrap;
        max-width: 360px;

        & p {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }

        & img {
            margin-bottom: 30px;
        }

        & p::before,
        & p::after {
            content: '“';
        }
    }

    &__right {
        @include flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__title {
        @include flex;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 32px;
        flex-wrap: wrap;
        flex-direction: column;

        & span {
            display: block;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__form {
        display: flex;

        & input {
            height: 49px;
            width: 256px;
            box-sizing: border-box;
            padding-left: 22px;
            border-radius: 25px 0 0 25px;
            background-color: #e1e1e1;
            border: transparent 1px solid;
            border-right-width: 0;
            color: #222224;
            font-size: 14px;
            line-height: 54px;
            font-weight: 400;
            letter-spacing: 0.35px;
        }

        & button {
            width: 100px;
            height: 49px;
            box-sizing: border-box;
            border-radius: 0 25px 25px 0;
            background-color: #F16D7F;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            border: #f16d7f 1px solid;
            border-left-width: 0;
        }
    }
}

.footer {
    background: #222224;
    padding: 30px 0;

    &__wrap {
        @include flex(space-between, center);
    }

    &__left {
        color: #FBFBFB;
        font-size: 16px;
        font-weight: 400;
    }

    &__right {
        display: flex;

        & a {
            @include flex;
            font-size: 15px;
            height: 32px;
            width: 32px;
            background-color: #fff;
            color: #000;

            &:not(:last-child) {
                margin-right: 7px;
            }

            &:hover {
                background-color: #F26376;
                color: #fff;
            }
        }
    }
}