.header {
    background-color: #222;
    color: #fff;
    padding: 18px 0 19px 0;

    &__left,
    &__right {
        @include flex(flex-start, center);
    }

    &__wrap {
        @include flex(space-between, center);
    }

    &__logo {
        margin-right: 41px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 33px;
        }
    }

    &__cart {
        background-image: url(../img/cart.svg);
        width: 32px;
        height: 29px;
        position: relative;
    }
}

.count {
    @include flex;
    position: absolute;
    right: -8px;
    top: -10px;
    width: 19px;
    height: 19px;
    background: #F16D7F;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

/* burger */

.header {
    &__nav {
        position: absolute;
        top: 78px;
        right: 0;
        z-index: 10;
    }

    &__drop {
        display: flex;
        justify-content: flex-end;

        & label {
            cursor: pointer;
        }
    }
}

.nav {
    width: 232px;
    background-color: #fff;
    height: calc(100vh - 75px);
    padding: 34px 37px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    overflow-y: auto;
    overflow-x: hidden;

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        margin-bottom: 24px;
    }

    &__heading {
        font-size: 14px;
        font-weight: 400;
        color: #F16D7F;
        margin-bottom: 12px;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__list {
        & li {
            font-size: 14px;
            font-weight: 400;
            color: #6F6E6E;
            padding-left: 21px;
            transition: 0.5s;

            &:hover {
                padding-left: 0px;

                & a {
                    color: #F16D7F;
                }
            }

            &:not(:last-child) {
                margin-bottom: 11px;
            }

            & a {
                color: #6F6E6E;
            }
        }
    }

    &__wrap {
        position: relative;
    }

    &__close {
        position: absolute;
        right: calc(-37px + 16px);
        top: calc(-34px + 16px);
    }
}

#burger {
    display: none;

    &:not(:checked)~.header__nav {
        display: none;
    }

    &:checked~.header__nav {
        display: block;
    }
}