* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #222;
    color: #fff;
    padding: 18px 0 19px 0;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 41px;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.header__cart {
    background-image: url(../img/cart.png);
    width: 32px;
    height: 29px;
    position: relative;
}

.count {
    position: absolute;
    display: flex;
    right: -8px;
    top: -10px;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    background: #F16D7F;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.banner {
    background-color: #F1E4E6;
    height: 764px;
}

.banner__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: -227px bottom;
}

.banner__title {
    max-width: 405px;
    border-left: 12px solid #F16D7F;
    font-size: 32px;
    font-weight: 700;
    padding: 0 0 0 16px;
}

.breadcrumbs {
    background-color: #F1E4E6;
    padding: 59px 0 60px 0;
    margin-bottom: 51px;
}

.breadcrumbs__product {
    margin-bottom: 0;
}

.breadcrumbs__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs__title {
    font-size: 24px;
    font-weight: 400;
    color: #F16D7F;
}

.breadcrumbs__list a {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
}

.breadcrumbs__current {
    font-weight: 700;
    color: #F16D7F
}

.breadcrumbs__list a:not(:last-child)::after {
    content: '/';
    padding: 0 5px;
}

.brand {
    display: block;
    font-size: 48px;
    font-weight: 900;
}

.pink {
    color: #F16D7F;
}

.offers {
    margin: 65px 0 96px 0;
}

.offers__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer:not(:last-child) {
    width: 360px;
    height: 260px;
}

.offer:last-child {
    width: 100%;
    margin-top: 30px;
    height: 180px;
}

.offers__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    max-width: 160px;
}

.offer .pink {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.offers__woman {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_women.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.offers__man {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_men.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.offers__kids {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_kids.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.offers__acc {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accessories.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.featured__nofeatures {
    margin-bottom: calc(128px - 30px);
}

.featured__title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 48px;
}

.featured__title span {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.filter__sorting {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.filter__title {
    display: flex;
    align-items: center;
}

.filter a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.filter a::after {
    content: '\f036';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    line-height: 100%;
    padding-left: 11px;
}

.sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorting__item {
    color: #6e6e6e;
    display: flex;
    align-items: center;
}

.sorting a:not(:last-child) {
    margin-right: 28px;
}

.sorting a::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    line-height: 100%;
    padding-left: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: calc(48.5px - 30px)
}

.card {
    background: #F8F8F8;
    width: 360px;
    margin-bottom: 30px;
    overflow: hidden;
    min-height: 420px;
    position: relative;
}

.card__img {
    height: 420px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.card__addbox {
    opacity: 0;
    height: 420px;
    width: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card:hover .card__addbox {
    opacity: 1;
}

.addbox {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: transparent;
}

.addbox:hover {
    background: #F16D7F;
    border: 1px solid #F16D7F;
}

.addbox__img {
    width: 23px;
    height: 22px;
    margin-right: 7px;
}

.card__text {
    padding: 25px 18px 20px 18px;
}

.card__text p {
    font-size: 14px;
    font-weight: 300;
    color: #5D5D5D;
    padding: 13px 0 18px 0;
}

.card__text strong {
    color: #F16D7F;
}

.card__title {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.browse {
    display: flex;
    justify-content: center;
    margin-bottom: 95.5px;
}

.browse__btn {
    padding: 15px 49px;
    background-color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #F26376;
    outline: 1px solid #F26376;
}

.browse__btn:hover {
    background-color: #F26376;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 95.5px;
}

.pagination__box {
    padding: 12px 15px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    outline: 1px solid #EBEBEB;
}

.pagination__any {
    color: #cacaca;
}

.pagination__prev,
.pagination__next {
    color: #000;
}

.pagination__prev {
    padding-right: 16px;
}

.pagination__next {
    padding-left: 16px;
}

.pagination__current {
    color: #F26376;
}

.features {
    background: #222224;
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 300;
    padding: 103px 0 104px 0;
}

.features__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 134px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__item p {
    text-align: center;
}

.features__title {
    font-size: 20px;
    font-weight: 400;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

.subscribe {
    background-image: url(../img/subscribe_bg.jpg);
    height: 448px;
    width: 1600px;
    margin: 0 auto;
}

.subscribe__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.subscribe__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 360px;
}

.subscribe__left p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.subscribe__left img {
    margin-bottom: 30px;
}

.subscribe__left p::before,
.subscribe__left p::after {
    content: '“';
}

.subscribe__right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.subscribe__title span {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.subscribe__form {
    display: flex;
}

.subscribe__form input {
    height: 49px;
    width: 256px;
    box-sizing: border-box;
    padding-left: 22px;
    border-radius: 25px 0 0 25px;
    background-color: #e1e1e1;
    border: transparent 1px solid;
    border-right-width: 0;
    color: #222224;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.subscribe__form button {
    width: 100px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: #f16d7f 1px solid;
    border-left-width: 0;
}

.footer {
    background: #222224;
    padding: 30px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.footer__right {
    display: flex;
}

.footer__right a {
    font-size: 15px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.footer__right a:not(:last-child) {
    margin-right: 7px;
}

.footer__right a:hover {
    background-color: #F26376;
    color: #fff;
}

.model {
    height: 777px;
    padding: 11px 0 42px 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
}

.container__model {
    width: 100%;
    margin: 0 auto;
}

.modelimg__wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model__img {
    margin: 0 auto;
}

.modelimg__wrap i {
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 42, 42, 0.15);
    color: #000;
    font-size: 21px;
}

.modelimg__wrap a:hover i {
    color: #F16D7F;
}

.modelinfo__wrap {
    position: relative;
    z-index: 2;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 65px 250px;
    margin: -65px auto 128px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modelinfo__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 65px;
    padding-bottom: 65px;
    border-bottom: 1px solid #eaeaea;
}

.collection__title {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.collection__border {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    margin-bottom: 12px;
}

.modelinfo__title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.modelinfo__text {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0 42px;
}

.modelinfo__price {
    margin-top: 32px;
    color: #ef5b70;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.model__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model__form form {
    width: 100%;
}

.model__selects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model__selects>div:not(:last-child) {
    margin-right: 23px;
}

.model__form select,
.model__form input {
    min-width: 90px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    color: #6F6E6E;
}

.model__form select::-ms-expand {
    display: none;
}

.model__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*
.selected__title::before {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    padding-left: 10px;
}
*/

.cartbtn__flex {
    display: flex;
    justify-content: center;
}

.cartbtn {
    margin-top: 49px;
    padding: 15px 56px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    color: #F26376;
    border: none;
    outline: 1px solid #F26376;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__cart__pink {
    width: 26px;
    height: 24px;
    margin-right: 23px;
    fill: #F26376;
}

.cartbtn:hover {
    background-color: #F26376;
    color: #fff;
    ;
}

.cartbtn:hover .add__cart__pink {
    fill: #fff;
}